html , body {               
    background-image: url(../main-asset/loginbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_MAIN{
    width: 240px;
    cursor: pointer;
}
.search-btn{
    width: 40%;
    min-width: 290px;
    background: rgba(230, 230, 230, 0.6);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
}
.search-btn input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 15px;
    color: #000000; 
}
.search-btn select{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 15px;
    color: #000000; 
}
::placeholder{
    color: #000000;
}
.search-btn button img{
    width: 63px;
}
.search-btn button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
}

.userselect{
    width: 40%;
    margin: auto;
    padding: 180px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.userselectbtn{
    width: 240px;
    background: rgba(232, 232, 232, 0.6);
    height: 240px;
    display: flex;
    align-content: center;
    border-radius: 60px;
    padding: 20px 20px;
}
.userselectbtn button{
    border: 0;
    margin-inline: auto;
    align-self: center;
    border-radius: 20%;
    background: rgba(92, 92, 92, 0.6);
    width: 220px;
    height: 220px;
    transition: 0.5s;
}
.userselectbtn button img{
    height: 80px;
}
.userselectbtn button h2{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 2px;
    color: #ffffff;
}
.userselectbtn button:hover{
    background:rgba(100,100,100);
    transition:.5s;
    width:230px;
    height:230px;
}
.userselectbtn button:focus{
    background:rgb(0, 0, 0);
    transition:.5s;
    width:200px;
    height:200px;
}

.selectemployeepg{
    width: 80%;
    margin: auto;
    padding: 180px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

@media only screen and (max-width: 600px) {
    .navbar{
        padding: 20px 0px;
        flex-direction: column;
    }
    .selectemployeepg{
        padding: 20px 0px;
        flex-direction: column;
    }
    .userselect{
        padding: 20px 0px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar{
        padding: 20px 0px;
    }
    .selectemployeepg{
        padding: 20px 0px;
    }
}

