*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.mainbg{
  width: 100%;
  min-height: 100vh;
  background-image: url("../main-asset/loginbg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.h2text {
  font-family: sans-serif;
  /*display: inline-block;*/
  border: none;
  size: 20px;
}
.navbar{
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, rgb(255, 102, 176) 0%, rgb(249, 130, 203) 35%, rgb(199, 5, 151) 100%);
  gap: 20px
}
.navbar a{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
}
.logo_MAIN{
  width: 240px;
  cursor: pointer;
}
.customer-btn{
  width: 20%;
  min-width: 300px;
  background: rgba(255,255,255,0.2);
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  margin-left: 40px;
  margin-right: 40px;
}
.customer-btn input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 10px;
  font-size: 18px;
  color: #000000;
  border-radius: 60px;
}
.customer-btn button img{
  width: 40px;
}
.customer-btn button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  cursor: pointer;
}
.displaycustomer{
  right: 0%;
  width: 15%;
  min-width: 250px;
  background: rgba(255,255,255,0.2);
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
}
.displaycustomer table{
  margin-left: 10px;
}
.displaycustomer button{
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: gray;
  cursor: pointer;
}
.displaycustomer button img{
  width: 30px;
  height: 30px;
}

.home-container1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container1 .table-row {
  width: 90%;
  min-width: 775px;
  background-color: rgb(255, 255, 255);
  height: 15vh;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin: 20px;
  margin-inline: 100px;
}
.home-container1 table {
  width: 90%;
}
.home-container1 table tr td{
  width: 100px;
}

.home-container2 {
  width: 100%;
  min-height: 300px;
  height: 30%;
  display: flex;
  align-self: center;
  align-items: top;
  justify-content: center;
  gap: 80px;
}
.home-container3 {
  width: 40%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-self: top;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 80px;
  justify-content: flex-start;
  border-radius: 40px;
}
.home-container4 {
  width: 40%;
  min-height: 300px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: flex-start;
  margin-right: 80px;
  justify-content: flex-end;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
